<% if logged_in? %>

  <div class="row">
    <div class="col-sm-12">

      <h3>Review this Manga</h3>

      <%= form_for [user, collection], html: { id: "reviewForm" }  do |f| %>

        <% if !collection.id %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :manga_id %>
        <% end %>

        <div class="form-group">
          <%= f.label :rating %>
          <%= f.select :rating, [5, 4, 3, 2, 1], class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :review, class: "form-control", rows: 5 %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: false } %>
        </div>

      <% end %>

    </div>
  </div>

<% end %>
