<div class="row">
  <div class="col-sm-12">

    <h2><%= @user.name %>'s Manga</h2>

    <table class="table">
      <tr class="info">

        <th><strong>Title</strong></th>
        <th><strong>Rating</strong></th>
        <th><strong>Status</strong></th>

        <% if @user == current_user %>
          <th></th>
        <% end %>

      </tr>

      <% @user.collections.each do |collection| %>
        <tr id="row-<%= collection.id %>">

          <td><%= link_to collection.manga.title, manga_path(collection.manga) %></td>
          <td><%= average_rating(collection.manga) %></td>
          <td><%= render '/collections/status', user: @user, collection: collection %></td>

          <% if @user == current_user %>
            <td><%= render '/collections/delete_button', user: @user, collection: collection %></td>
          <% end %>

        </tr>
      <% end %>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2><%= @user.name %>'s Reviews</h2>
    <div id="reviews" class="row">
      <div class="col-sm-12">
        <a href="#reviews" id="js-show-reviews" class="btn btn-default" data-id="<%= @user.id %>">Show Reviews</a>
      </div>
    </div>
  </div>
</div>

<script id="review-template" type="text/x-handlebars-template">
  <div class='col-sm-4 review'>
    <h3><a href="/manga/{{manga.id}}">{{manga.title}}</a></h3>
    <p>Rating: {{rating}}</p>
    <p>{{review}}</p>
  </div>
</script>

<script id="reading-template" type="text/x-handlebars-template">
  <form class="edit_collection" id="edit_collection_{{id}}" action="/users/<%= current_user.id %>/collections/{{id}}" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input class="form-control" placeholder="Chapter" type="text" value="{{last_read}}" name="collection[last_read]" id="collection_last_read">
  </form>
</script>
