<%= form_for manga do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ["On Going", "Completed", "On Hiatus", "Cancelled"], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :volumes, "Volumes (Leave blank if 'On Going' or 'On Hiatus')" %>
    <%= f.text_field :volumes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :chapters, "Chapters (Leave blank if 'On Going' or 'On Hiatus')" %>
    <%= f.text_field :chapters, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "Release Date" %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date, "End Date (Leave blank if 'On Going' or 'On Hiatus')" %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>

<% end %>
