<div class="row">
  <div class="col-sm-12">
    <h2><%= @manga.title %></h2>
  </div>
</div>

<div class="row">

  <div class="col-sm-9">
    <%= render '/collections/list_reviews', collections: @manga.collections %>
    <%= render '/collections/review_form', user: current_user, collection: @collection %>
  </div>

  <div class="col-sm-3">
    <p>
      <strong>Rating</strong><br />
      <%= average_rating(@manga) %>
    </p>

    <p>
      <strong>Author</strong><br />
      <%= link_to @manga.author.name, author_path(@manga.author) %>
    </p>

    <p>
      <strong>Status</strong><br />
      <%= @manga.status %>
    </p>

    <% if @manga.status == "Completed" %>
      <p>
        <strong>Volumes</strong><br />
        <%= @manga.volumes %>
      </p>

      <p>
        <strong>Chapters</strong><br />
        <%= @manga.chapters %>
      </p>
    <% end %>

    <p>
      <strong>Years Active</strong><br />
      <%= @manga.years_active %>
    </p>

    <p class="center">
      <%= render '/collections/add_button', manga: @manga %>
    </p>

  </div>
</div>
