<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <p class="center">Login with <%= render '/users/fb_button' %></button></p>
    <p class="center">Or</p>

    <%= form_tag '/sessions' do %>

      <div class="form-group">
        <%= label_tag :name, "Name: " %>
        <%= text_field_tag :name, nil, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :password, "Password: " %>
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>

      <div class="actions">
        <%= submit_tag "Login", class: "btn btn-primary"  %>
      </div>

    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>
