<h2><%= @user.name %>'s Manga</h2>

<table class="table">
  <tr class="info">
    <th><strong>Title</strong></th>
    <th><strong>Rating</strong></th>
    <th><strong>Status</strong></th>
    <th></th>
  </tr>
  <% @user.collections.each do |collection| %>
    <tr>
      <td><%= link_to collection.manga.title, user_collection_path(@user, collection) %></td>
      <td><%=  %></td>
      <td><%= render '/collections/status', collection: collection %></td>
      <td><%= render '/collections/delete_button', collection: collection if @user == current_user %></td>
    </tr>
  <% end %>
</table>
