<!DOCTYPE html>
<html>
  <head>
    <title>MangaListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "ML", root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-nav">
          <%= link_to "Manga List", manga_index_path, class: "navbar-brand" %>
          <%= link_to "Author List", authors_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-nav navbar-right">
          <%= link_to "Sign Up", register_path, class: "navbar-brand" %>
          <%= link_to "Log In", login_path, class: "navbar-brand" %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <p class="center">&copy; 2018 Rocky Chiang. Manga List.</p>
      </div>
    </div>
  </body>
</html>
