<!DOCTYPE html>
<html>
  <head>
    <title>MangaListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Manga List", root_path, class: "navbar-brand" %>
          <%= link_to "Sign Up", register_path, class: "navbar-brand" %>
          <%= link_to "Log In", login_path, class: "navbar-brand" %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
